@using ecommerce_finalproject.Data.ViewModels
@model List<ProductVM>

@{
    ViewData["Title"] = "List of Favourite Products";
}

<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.name
                                        @*<a href="javascript:void(0)" id="btnFav" onclick="addFav(@item.Id.ToString())">
                                            <i class="bi bi-bag-check-fill"></i>
                                        </a>*@
                                        <a class="text-white float-right" href="javascript:void(0)" id="btnNoFav" onclick="removeFav(@item.Id.ToString())">
                                            <i class="bi bi-x-square"></i>
                                        </a>
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.imageURL" width="100%" alt="@item.name" />
                        </div>
                        <div class="col-md-6">
                            <p class="card-text">@item.description</p>
                            <p class="card-text"><b>Product Name: </b>@item.name</p>
                            <p class="card-text"><b>Category: </b>@item.CategoryName</p>
                            <p class="card-text"><b>Stock: </b>@item.stockCode</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i>Show Details
                                </a>
                                <a class="btn btn-success text-white @((item.stockCode <= 0 ) ? "disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i>Add to Cart (Price $@item.price.ToString("N"))
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>No found favourite items...</h2>
    }
</div>

@section scripts{
    <script>

        function addFav(itemId) {
            const btn = document.getElementById('btnFav');
            Queries.addFavItem(itemId, function(response) {
               alert("Item added to favourites...");
                
            })
        }

        function removeFav(itemId) {
            const btn = document.getElementById('btnNoFav');

            alert("Item removed to favourites...");
            Queries.removeFavItem(itemId, function(response) {
                 location.reload();
            })
        }

        Queries = {
            addFavItem: function(itemId, successCallback, errorCallback) {
                var data = {
                    itemId: itemId
                };
               
                $.ajax({
                    type: "POST",
                    url: "favourite/AddItemFav",
                    data: data,
                    dataType: "json",
                    success: successCallback,
                    error: errorCallback
                });
            },
            removeFavItem: function(itemId, successCallback, errorCallback) {
                var data = {
                    itemId: itemId
                };

                $.ajax({
                    type: "POST",
                    url: "favourite/RemoveItemFav",
                    data: data,
                    dataType: "json",
                    success: successCallback,
                    error: errorCallback
                });
            }
        }
    </script>
}

    @await Html.PartialAsync("_CreateItem", "Products")
